.clock-digital {
  background: #000;
  color: #FFF;
  padding: 5px;
  display: inline-block;
  font-size: 26px;
  border-radius: 5px;

  > span:not(:last-child)::after {
    content: ':';
    padding: 0 0 0 5px;
  }
}

